[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.4"

[dev-packages]

[packages]
flask = "*"
gunicorn = "*"
"psycopg2" = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-script = "*"
werkzeug = "*"
"boto3" = "*"
