{% extends 'layout.html' %}

{% block body %}

<div class="col-sm-5 col-sm-offset-1">
    <h2>Previously directly uploaded files</h2>
    <br>
    <div id="results">
      <table class="table table-striped" style="max-width: 300px;">
        <thead>
          <tr>
            <th>ID</th>
            <th>Filename</th>
            <th>Delete file?</th>
          </tr>
        </thead>
        {% for result in results%}
          <tr>
            <td>{{ result.id }}</td>
            <td>
              <form action=/direct-download-file/{{result.id}} method="post">
                <a href="#" onclick="this.parentNode.submit()">{{result.filename_orig}}</a>
              </form>
            </td>
            <td>
              <form action=/direct-delete-file/{{result.id}} method="post" onsubmit="return confirm('Are you sure?');">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="Delete" class="btn btn-danger pull-right">
              </form>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
</div>

{% endblock %}
